@import url(https://fonts.googleapis.com/css?family=Gentium+Basic);

body {
	text-align: center;
	background-color: black;
	color: white
}

h1 {
	font-size: 48px
	font-weight: bolder;
}

h2 {
	font-size: 32px
	font-weight: bold;
}

p {
	font-style: italic;
}

ul {
	list-style-position: inside;
	text-align: left;
}